<aside>
    <p>Hier könnte ihre Werbung stehen</p>
    <ul>
        <li>Werbekosten: 10€ / Jahr</li>
        <li>Immer für ein Jahr verbindlich!</li>
        <li>Keine Rueckerstattung moeglich!</li>
    </ul>
</aside>