<aside>
    <p>Hier könnte ihre Werbung stehen.</p>
    <ul>
        <li>Werbekosten: 10€ / Jahr</li>
        <li>Immer für ein Jahr verbindlich!</li>
        <li>Keine Rückerstattung möglich!</li>
    </ul>
</aside>
<footer>
    <p>&copy; by Strothi GmbH</p>
</footer>