<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" href="css/allgemein.css">
</head>
<body>
<%-include("header&navi.ejs")%>
<main>
    <h2>Error</h2>
    <p>Gewünschte Einheit existiert nicht!</p>
    <p>Bitte wählen Sie eine andere ID als Parameter oder klicken Sie auf den entsprechenden Link der Einheit auf der Tutoriumsliste!</p>
</main>
<%- include("aside&footer") %>
</body>
</html>