<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fehler</title>
</head>
<body>
<main>
    <h1>Error</h1>
    <p>Diese Seite existiert nicht!</p>
</main>
<footer>
    <p>&copy; by WebTech Inc</p>
</footer>
</body>
</html>