<header>
    <div>
        <img src="/img/abiturmutze.png" alt="Abiturmuetze">
        <h1>TutCheck</h1>
    </div>
    <p>Die Organisationsapp für alle Tutorinnen und Tutoren</p>
</header>
<nav>
    <a href="/">Tutoriumsliste</a>
    <a href="neueEinheit">Neue Einheit</a>
</nav>