<header>
    <div class="title">
        <img src="/img/abiturmutze.png" alt="Abiturmuetze" width="40">
        <h1>TutCheck</h1>
    </div>
</header>
<nav>
    <ul class="navi">
        <li><a href="tutoriumsliste">Tutoriumsliste</a></li>
        <li><a href="detailseite">Detailseite</a></li>
        <li><a href="neueEinheit">Neue Einheit</a></li>
    </ul>
</nav>