<header>
    <div>
        <img src="/img/abiturmutze.png" alt="Abiturmuetze">
        <h1>TutCheck</h1>
    </div>
    <p>Die Organisationsapp für alle Tutoren und Tutorinnen</p>
</header>
<nav>
    <ul class="navi">
        <li><a href="/">Tutoriumsliste</a></li>
        <li><a href="neueEinheit">Neue Einheit</a></li>
    </ul>
</nav>