<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Neue Einheit bestimmen</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/flexbox.css">
</head>
<body>
    <%-include("kopf&navi.ejs")%>
    <%-include("aside.ejs")%>
    <%-include("footer.ejs")%>
</body>